<mappers>
    <!-- 动态表相关操作 -->
    <mapper namespace="BlogMapper">
        <insert id="insertBlog">
            INSERT INTO blogs (target_id, blog_name, author_id,blog_content, file_path, blog_type)
            VALUES (#{targetId}, #{blogName}, #{authorId},#{blogContent}, #{filePath}, #{blogType})
        </insert>
        <insert id="insertBlogCollection">
            INSERT INTO blog_collection (blog_id, user_id)
            VALUES (#{blogId}, #{userId})
        </insert>
        <select id="selectBlogById" resultType="com.peitianbao.www.model.Blogs">
            SELECT
            blog_id AS blogId,
            blog_name AS blogName,
            target_id AS targetId,
            author_id AS authorId,
            blog_content AS blogContent,
            blog_time AS blogTime,
            blog_likes AS blogLikes,
            blog_collections AS blogCollections,
            file_path AS filePath,
            blog_type AS blogType
            FROM
            blogs
            WHERE
            blog_id = #{blogId}
        </select>
        <select id="selectBlogsByUserId" resultType="com.peitianbao.www.model.Blogs">
            SELECT
            blog_id AS blogId,
            blog_name AS blogName,
            target_id AS targetId,
            author_id AS authorId,
            blog_content AS blogContent,
            blog_time AS blogTime,
            blog_likes AS blogLikes,
            blog_collections AS blogCollections,
            file_path AS filePath,
            blog_type AS blogType
            FROM
            blogs
            WHERE
            author_id = #{authorId}
        </select>
        <select id="selectBlogsByShopId" resultType="com.peitianbao.www.model.Blogs">
            SELECT
            blog_id AS blogId,
            blog_name AS blogName,
            target_id AS targetId,
            author_id AS authorId,
            blog_content AS blogContent,
            blog_time AS blogTime,
            blog_likes AS blogLikes,
            blog_collections AS blogCollections,
            file_path AS filePath,
            blog_type AS blogType
            FROM
            blogs
            WHERE
            author_id = #{authorId}
        </select>
        <select id="selectUserCollectBlogs" resultType="com.peitianbao.www.model.BlogCollection">
            SELECT
            blog_id AS blogId,
            user_id AS userId,
            collection_date AS collectionDate
            FROM
            blog_collection
            WHERE
            user_id = #{userId}
        </select>
        <delete id="deleteBlogCollection">
            DELETE FROM blog_collection WHERE blog_id = #{blogId} AND user_id = #{userId}
        </delete>
        <update id="incrementBlogLikes">
            UPDATE blogs
            SET blog_likes = blog_likes + 1
            WHERE blog_id = #{blogId}
        </update>
        <update id="lowBlogLikes">
            UPDATE blogs
            SET blog_likes = blog_likes - 1
            WHERE blog_id = #{blogId}
        </update>
        <update id="incrementBlogCollections">
            UPDATE blogs
            SET blog_collections = blog_collections + 1
            WHERE blog_id = #{blogId}
        </update>
        <update id="lowBlogCollections">
            UPDATE blogs
            SET blog_collections = blog_collections - 1
            WHERE blog_id = #{blogId}
        </update>
    </mapper>
</mappers>