<mappers>
    <!-- 券表相关操作 -->
    <mapper namespace="VoucherMapper">
        <insert id="insertCoupon">
            INSERT INTO coupon (coupon_type, discount_amount,min_spend,total_stock,available_stock,start_time,end_time,max_per_user,coupon_name,shop_id)
            VALUES (#{couponType}, #{discountAmount}, #{minSpend},#{totalStock}, #{availableStock}, #{startTime},#{endTime}, #{maxPerUser}, #{couponName},#{shopId})
        </insert>
        <select id="selectCouponById" resultType="com.peitianbao.www.model.Coupon">
            SELECT
            coupon_id AS couponId,
            coupon_name AS couponName,
            coupon_type AS couponType,
            discount_amount AS discountAmount,
            min_spend AS minSpend,
            total_stock AS totalStock,
            available_stock AS availableStock,
            start_time AS startTime,
            end_time AS endTime,
            max_per_user AS maxPerUser,
            shop_id AS shopId
            FROM
            coupon
            WHERE
            coupon_id = #{couponId}
        </select>
        <select id="getAllCoupons" resultType="com.peitianbao.www.model.Coupon">
            SELECT
            coupon_id AS couponId,
            coupon_name AS couponName,
            coupon_type AS couponType,
            discount_amount AS discountAmount,
            min_spend AS minSpend,
            total_stock AS totalStock,
            available_stock AS availableStock,
            start_time AS startTime,
            end_time AS endTime,
            max_per_user AS maxPerUser,
            shop_id AS shopId
            FROM
            coupon
        </select>
        <update id="rollbackCoupon">
            UPDATE coupon
            SET available_stock = available_stock + 1
            WHERE coupon_id = #{couponId}
        </update>
        <update id="lowNowCount">
            UPDATE coupon
            SET available_stock = available_stock - 1
            WHERE coupon_id = #{couponId}
        </update>
        <insert id="insertCouponOrder">
            INSERT INTO coupon_order (order_id,coupon_id,user_id)
            VALUES (#{orderId}, #{couponId}, #{userId})
        </insert>
        <select id="selectCouponOrderById" resultType="com.peitianbao.www.model.CouponOrder">
            SELECT
            order_id AS orderId,
            coupon_id AS couponId,
            user_id AS userId
            FROM
            coupon_order
            WHERE
            order_id = #{orderId}
        </select>
        <select id="countUserParticipation" resultType="Integer">
            SELECT COUNT(*)
            FROM coupon_order
            WHERE user_id = #{userId} AND coupon_id = #{couponId}
        </select>
        <select id="getUserCouponOrders" resultType="com.peitianbao.www.model.CouponOrder">
            SELECT
            order_id AS orderId,
            coupon_id AS couponId,
            user_id AS userId
            FROM
            coupon_order
            WHERE
            user_id = #{userId}
        </select>
        <select id="getCouponUsersId" resultType="com.peitianbao.www.model.CouponOrder">
            SELECT
            order_id AS orderId,
            coupon_id AS couponId,
            user_id AS userId
            FROM
            coupon_order
            WHERE
            coupon_id = #{couponId}
        </select>
    </mapper>
</mappers>